
h1{
    color: blueviolet;
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #0C0C0E;
    font-family: monospace;
    color: aliceblue;
    font-size: 20px;
}